<div class="card">
  <div class="card-content">
    <span class="card-title">Order summary</span>
    <table class="table">

      <tbody>
        <tr>
          <td style = "float: left">Subtotal:</td>
          <td style = "float: right"><%=number_to_currency @subtotal%></td>
        </tr>
        <tr>
          <td style = "float: left">Shipping:</td>
          <td style = "float: right"><%=number_to_currency @shipping_cost%></td>
        </tr>
        <tr>
          <td style = "float: left;"><b style = "font-size: 20px;">Total:</b></td>
          <td style = "float: right;"><b style = "font-size: 20px;"><%= number_to_currency @total%></b></td>
        </tr>

    </table>
  </div>
</div>