<h5 style="text-align: center"><b>Checkout</b></h5>
<div class="row">    
  <div class="col s5">
    
        
        
    <%=render :partial => "shipping_address"%>
    <%=render :partial => "items"%>

    
  </div>
  <div class="col s4 push-s3">
    <%=render :partial => "order_summary"%>
    <%= link_to(place_order_path, class: 'btn button tiny radius', style: "width: 100%") do %>
      Place Order
    <% end %>

  </div> 
  
</div>






    