<div class="row">
	<div class="col s8">

		<div class="card">
      <div class="card-content">
        <span class="card-title">Our Products</span>
        <%= render :template => "items/index" %>

			</div>
		</div>
  </div>

  <div class="col s4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Featured Product of the Week</span>
        <div class="row">
          <div class="col s8">
            </br>
            <%= image_tag "Chocolate-Zucchini-Muffins.jpg", :size => "315x210" %>
          </div>
        </div>
        <div>
          <h6 style="display: inline"><b>Chocolate Zucchini Muffins</b></h6>
          <div style="float: right"><%= number_to_currency 9.25 %></div>
        </div>
        </br>
        <p>
          A tasty recipie our mom used to make 
          to get us to eat our veggies as often 
          as possible with the least complaining possible. 
          Your kids will love them too!
        </p>
      </div>
    </div>
  </div>

</div>