<div id="main_content" class="row">
  <div class="col s8">
    <%= image_tag "person-holding-bread.jpeg", alt: "img-not-found.png", class: 'about-img' %>
  </div>
  <div class="col s4 about-text">
    <h3>About Us</h3>
    <p>We started The Baking Factory because of our passion for baking and 
    connecting with our community. We bring you the most <b>delicious, fresh, 
    and healthy</b> pastries to your doorstep with <b>next day shipping</b>. 
    Our breads, muffins, and pastries are all made in 
    house from scratch, crafted with the utmost care and attention to detail.
    We have a simple mission: to brighten your day with a simple bite of our
    hearty yet delicate baked goods.
    </p>
  </div>
</div>