<div id="main_content" class="row">
  <div class="col s8 push-s2">
    <h3>Privacy Policy</h3>
		<p>The Baking Factory is committed to protecting your privacy and ensuring 
		that your personal information is handled in a safe and responsible way. 
		We will not sell your information and we only collect information that is 
		essential to providing you a seamless experience with us. :) <p/>
  </div>



</div>