<% if @muffins.empty? %>
  <p><em>There are no muffins at this time.</em></p>
<% else %>
  <%= render :partial => "partials/item_list", locals: {items: @muffins, item_type: "muffins"} %>  
<% end %>
<br />