<% if @pastries.empty? %>
  <p><em>There are no pastries at this time.</em></p>
<% else %>
  <%= render :partial => "partials/item_list", locals: {items: @pastries, item_type: "pastries"} %>  
<% end %>
<br />