<div class="row">
  <div class="small-7 columns">
    <%= render :partial => "item_details", locals: {item: @item} %>
  </div>

</div>

<% if logged_in? && current_user.role?(:admin) %>
  <%= render partial: "partials/object_options", locals: {model_name: "item", object: @item}  %>
<% end %>
